@font-face{
    font-family: 'Science';
    src:url(Lato-Bold.ttf);
}

.txtincrease{
    color: #afafaf;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition-duration: 0.4s;
}

.txtincrease:hover{
    transform: scale(1.2); 
}

.translate-down-eighth { /*translates eighth of screen size (vh) */
    transform: translateY(12vh); 
}

.translate-up-eighth { /*translates eighth of screen size (vh) */
    transform: translateY(-12vh); 
}

