@font-face{
    font-family: 'Science';
    src:url(Lato-Bold.ttf);
}

.txtincrease{
    color: #afafaf;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition-duration: 0.4s;
}

.txtincrease:hover{
    transform: scale(1.2); 
}

body {
    margin: 0;
            padding: 0;
            background-image: url('images/BackgroundWeb.png');
            background-size: cover;
}
