
.profile-card {
    position: relative;
    text-align: center;
}

.profile-card .img img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.profile-card .caption h3 {
    font-size: 1.25rem;
}

.profile-card .caption p {
    font-size: 1rem;
}

.profile-card .social-links {
    margin-top: 10px;
}

.profile-card .social-links a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.profile-card .social-links a img:hover {
    transform: scale(1.1);
}
