.main {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    position: relative;
    width: 220px; /* Consistent width */
    height: 220px; /* Consistent height */
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover {
    height: 260px;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 49;
}

.profile-card:hover .img {
    transform: translateY(-60px);
}

.img img {
    width: 100%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h3 {
    font-size: 20px;
}

.caption p {
    font-size: 16px;
    color: #926F34;
    margin: 2px 0 6px 0;
}

.caption .social-links a {
    color: #333;
    margin-right: 8px;
    font-size: 18px;
    transition: .6s;
}

.social-links a:hover {
    color: #0c52a1;
}

