
.profile-card {
    position: relative;
    text-align: center;
}

.profile-card .img img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.profile-card .caption h3 {
    font-size: 1.25rem;
}

.profile-card .caption p {
    font-size: 1rem;
}

.profile-card .caption a {
    text-decoration: none;
}

.profile-card .caption a:hover {
    text-decoration: underline;
}

