<!DOCTYPE html>
<html lang="en" data-theme="nord">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAI</title>
    <link href="static/css/output.css" rel="stylesheet" >
    <link href="static/css/index.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<script>
  function openMenu(){
    var elem = document.getElementById("fainavlinks");
    elem.classList.toggle("hidden");
  }
  function visitBlakeInterview(){
    window.open('https://youtu.be/ogFhUzIh244?si=Tcbc10zcaSBSKgbQ', '_blank')
  }
  function visitFaiYoutube(){
    window.open('https://www.youtube.com/@FAI_Club/embed/C8kSrkz8Hz8', '_blank');
  }
  function visitBlakeLinkedIn(){
    window.open('https://www.linkedin.com/in/blakesiewert', '_blank');
  }
</script>
</head>
<body>
  <!--This is where the page layout gets separated into 12 columns-->
  <header class="bg-[#926F34] sm:flex sm:justify-between">
    <div class="flex items-center justify-between px-4 py-3">
      <div>
        <img src="static/images/failogo.png" alt="FAI" class="drop-shadow-lg h-12">
      </div>
      <div class="sm:hidden">
        <button onclick="openMenu()" class="text-white hover:text-yellow-400 sm:hidden">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
          </svg>
        </button>
      </div>
    </div>
    <div id ="fainavlinks"  class="hidden px-5 pt-2 pb-4 sm:flex">
      <a href="/"class="  text-white text-base block sm:inline-block font-semibold rounded px-2 py-1 mt-3        hover:bg-gray-800">HOME</a>
      <a href="/team" class="text-white text-base block sm:inline-block font-semibold rounded px-2 py-1 mt-3  hover:bg-gray-800">OUR TEAM</a>
      <a href="/contact"  class="text-white text-base block sm:inline-block font-semibold rounded px-2 py-1 mt-3  hover:bg-gray-800">CONTACT</a>
      <a href="/chapters"  class="text-white text-base block sm:inline-block font-semibold rounded px-2 py-1 mt-3 hover:bg-gray-800">CHAPTERS</a>
      <a href="/guest-lectures" class="text-white text-base block sm:inline-block font-semibold rounded px-2 py-1 mt-3 hover:bg-gray-800">GUEST LECTURES</a>
      <a href="/blog" class="text-white text-base block sm:inline-block font-semibold rounded px-2 py-1 mt-3 hover:bg-gray-800">BLOG</a> 
    </div>
  </header>
  <div class="text-6xl font-bold text-center mt-20">
    <span class=" bg-clip-text text-transparent bg-gradient-to-r from-yellow-200 to-yellow-600 drop-shadow-lg">Guest Lectures</span>
  </div>
  <div class="flex justify-center my-5">
    <button class="bg-[#c02424] rounded-xl transition ease-in-out delay-150 duration-300 hover:scale-105 hover:bg-[#B88C41] 
      p-4 text-center text-white text-base font-semibold mt-4"
      onclick="visitFaiYoutube();">
      <img src="static/images/goldyt.png" alt="" class="inline-block h-8 w-8 mr-2">
      FAI Youtube
      <img src="static/images/arrow.png" alt="" class="inline-block h-6 w-6 ml-2 transition ease-in-out delay-150 duration-300 hover:translate-x-1">
    </button>
  </div>
  <div class="px-2 py-2 sm:px-10 sm:py-10">
    <div class="p-30 bg-gradient-to-r from-[#926F34] to-[#DFBD69] rounded-lg md:max-lg:flex-wrap lg:flex">
      <div class="lg:w-2/5">
        <iframe class="p-5 w-full lg:w-140" height="330" src="https://www.youtube.com/embed/ogFhUzIh244?si=OsVPWW3VKNrfvenv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
         encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="mt-5 lg:w-3/5">
        <p class="text-white font-semibold mx-4">It is our pleasure to introduce Mr. Blake Siewert, the North American Head of Growth and Innovation at Siemens Healthineers, a leading global Medical Technology company. 
            With over 25 years of extensive experience, Mr. Siewert is a seasoned business professional skilled in leading cross-functional teams across sales, marketing, operations, customer service, and more. 
            He founded BSM Creative, a strategic marketing and advertising agency and founded LogiTran Group a boutique industrial and organizational consultancy and recruiting company. 
            Prior to joining Siemens Healthineers, he was employed at Adaptive Business Solutions serving as a lean coach and consultant for Six Sigma. 
            Beyond his professional achievements, he has made significant contributions as a district and state CDC judge in Wisconsin DECA competitions. 
            He is a married father of four residing in Madison, WI. Please join us in extending a warm welcome to Mr. Blake Siewert.
        </p>
        <button class="bg-[#5c81e8a1] rounded-xl transition ease-in-out delay-150 duration-300 hover:scale-105 hover:bg-[#B88C41] 
          p-4 text-center text-white text-base font-semibold my-4 ml-4 mr-2"
          onclick="visitBlakeLinkedIn();">
          <img src="static/images/LinkedIn.png" alt="" class="inline-block h-6 w-6 mr-2">
          Blake Siewert
          <img src="static/images/arrow.png" alt="" class="inline-block h-6 w-6 ml-2 transition ease-in-out delay-150 duration-300 hover:translate-x-1">
        </button>
        <button class="bg-[#181871] rounded-xl transition ease-in-out delay-150 duration-300 hover:scale-105 hover:bg-[#B88C41] 
         p-4 text-center text-white text-base font-semibold my-4 ml-2 mr-4"
         onclick="visitBlakeInterview();">
         Check out the Interview
         <img src="static/images/arrow.png" alt="" class="inline-block h-6 w-6 ml-2 transition ease-in-out delay-150 duration-300 hover:translate-x-1">
        </button>
      </div>
    </div>
    
  </div>
</body>
</html>
