@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .card{
        background-color: black;
        border-radius: 30px;
        padding: 20rem;
        box-shadow: 5px 10px #888888;
    }
}